body{
  background-color: rgb(233, 245, 255);
  height: 200vh;
  width:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  margin:0%;
}

ul {
  list-style-type: none;
  margin-top: 0%;
  overflow-x: hidden;
  background-color: #12130F;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(247, 243, 246);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #313131;
  font-style:italic
}

h1{
  padding-top: 25px;
  text-align: center;
}

img{
  display:block;
}

.banner-contain{
  width:100%;
}

p{
  padding:20px;
  text-align: center;
}

.banner{
  width:101%;
}

.nav{
  position: sticky;
  top:0px;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:rgb(250, 223, 127);
}

.cert{
  padding-left:40px;
  text-align: left;
}

p.cert{
  padding:0px;
  padding-left:40px;
}

h2.cert{
  padding-top:40px;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}