body{
  background-color: rgb(233, 245, 255);
  height: 200vh;
  width:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  margin:0%;
}

ul {
  list-style-type: none;
  margin-top: 0%;
  overflow-x: hidden;
  background-color: #12130F;
  width: 100%;
  z-index: 6;
}

ul li {
  float: left;
  z-index: 6;
}

ul li a {
  display: block;
  color: rgb(247, 243, 246);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #313131;
  font-style:italic;
}

h1{
  padding-top: 25px;
  text-align: center;
}

img{
  display:block;
  z-index: -7;
}

.banner-contain{
  width:100%;
}

p{
  padding:20px;
  text-align: center;
}

.banner{
  width:101%;
}

.nav{
  position: sticky;
  top:0px;
}

a{
  text-decoration: underline;
  color:black;
}

a:hover{
  color:rgb(250, 223, 127);
}

.cert{
  padding-left:40px;
  text-align: left;
}

p.cert{
  padding:0px;
  padding-left:40px;
}

h2.cert{
  padding-top:40px;
}


.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;
  font-variation-settings:
    "wdth" 100;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.home {
  padding-left: 10%;
  text-align: left;
  letter-spacing: 0.02cm;
  word-spacing: 0.1cm;
  line-height: 1cm;
  width:50%;
}

.portrait {
  width:20%;
  top:50%;
  position:absolute;
  right: 10%;
  z-index: -7;
}

.qr {
  width:30%;
  display: flex;
  justify-self: center;
}

.project {
  text-decoration: none;
  font-size: large;
}

.projectDesc {
  text-align: left;
  padding-left:10%;
}