body{
  background-color: rgb(198, 228, 255);
  height: 200vh;
  width:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  margin:0%;
}

ul {
  list-style-type: none;
  margin-top: 0%;
  overflow-x: hidden;
  background-color: #333333;
  width: 100%;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(198, 228, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

h1{
  padding-top: 25px;
  text-align: center;
}

img{
  display:block;
}

.banner-contain{
  width:100%;
}

p{
  padding:20px;
  text-align: center;
}

.banner{
  width:101%;
}

.nav{
  position: sticky;
  top:0px;
}